.wjh-pop-view {
  position: fixed;
  z-index: 1000;

  .mask {
    transition: all 0.15s;
    position: fixed;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .wjh-pop-view-body {
    transition-delay: 0.15s;
    transition: all 0.15s;
    background-color: var(--wjh-color-background);
    width: 100%;
    z-index: 1010;
    position: fixed;
    margin: 0;
    border-top-right-radius: 16Px;
    border-top-left-radius: 16Px;
  }

}

.wjh-pop-view-hidden {

  .mask {
    opacity: 0;
    visibility: none;
  }

  .wjh-pop-view-body {
    bottom: -50vh !important;
  }
}

.wjh-pop-view-bottom {
  .wjh-pop-view-body {
    bottom: 0;
    left: 0;
  }
}

.wjh-pop-view-top {
  left: 0;
  top: 0;
}

.fully-hidden {
  height: 0;
}
